.paginaCadastro {
  .uploadImagemContainer {
    text-align: center;
    position: relative;
    margin-bottom: 48px;
    cursor: pointer;

    .avatarPreview{
      height: 120px;
      width: 120px;
    }

    &::after {
      content: url("/imagens/camera.svg");
      position: absolute;
      width: 48px;
      height: 48px;
      margin: auto;
      right: 0;
      left: 100px;
      bottom: 0px;
    }
}
  @media screen and (min-width: $desktopBreakponint){
    .rodapePaginaPublica{
      display: flex;
      justify-content: center;
      p{
        margin-right: 6px;
      }
    }

  }
}

